<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="navbar navbar-lighter bg-primary ">
  <div class="container-fluid">
    <h1>PERSON Manager</h1>
    <div class="d-flex">
      Naceur PersonManagerApp
    </div>
  </div>
</nav>
<table class="table">
  <thead>
  <tr>
    <th scope="col"> id  </th>
    <th scope="col"> FirstName  </th>
    <th scope="col"> LastName  </th>
    <th scope="col"> Age   </th>
    <th scope="col"> service   </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of person">
    <td>  {{row.id}}  </td>
    <td>  {{row.FirstName}}  </td>
    <td>  {{row.LastName}}  </td>
    <td>  {{row.age}}  </td>

    <td>
      <button  (click)="CreatePerson()" type="button"    class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"> add  </button>
      <button (click)="deleteSubscribedperson(row)" class="btn btn-danger"> delete  </button>
      <button (click)="editSubscribedperson(row)" class="btn btn-info" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalCenter"> edit  </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Person Manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
            <label for="formGroupExampleInput">FirstName </label>
            <input type="text" formControlName="FirstName" class="form-control" id="formGroupExampleInput" placeholder="Enter y Name">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">LastName </label>
            <input type="text" formControlName="LastName" class="form-control" id="formGroupExampleInput2" placeholder="Enter y Last Name">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">age</label>
            <input type="text" formControlName="age" class="form-control" id="formGroupExampleInput2" placeholder="Enter y age ">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"  id="close"  class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="CreatePerson()" class="btn btn-primary">Create Person </button>
        <button type="button" (click)="UpdatePersonInfo()" class="btn btn-primary">Update </button>

      </div>
      </div>
    </div>
  </div>

    


